**[SQL Micro-Course Home Page](https://www.kaggle.com/learn/SQL)**

---

# Introduction

You are getting to the point where you can own an analysis from beginning to end. So you'll do more data exploration in this exercise than you've done before.  Before you get started, run the following set-up code as usual. Notice that your `BigQueryHelper` object is called `chicago_taxi_helper`.

In [ ]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex5 import *

# import package with helper functions 
import bq_helper

# create a helper object for this dataset
chicago_taxi_helper = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                               dataset_name="chicago_taxi_trips")

# Questions

This dataset contains a table with the information about taxi trips in the city of Chicago. You are curious how much slower traffic moves when traffic volume is high. This involves a few steps.

# 1) Find the Data
Before you can access the data, you need to find the table name with the data.

- Hint: Tab completion is helpful whenever you can't remember a command. Type `chicago_taxi_helper.` and then hit the tab key. Don't forget the period before hitting tab.

In [ ]:
# Your code here to find the table name
chicago_taxi_helper.list_tables()

In [ ]:
# write the table name as a string below
table_name = 'taxi_trips'

q_1.check()

In [ ]:
# q_1.solution()

# 2) Peek at the data

Use `chicago_taxi_helper.head` to peak at the top few rows of the data. Inspect the data and see if the data quality is immediately obvious. After deciding whether you see any important issues, look at `q_2.solution()`.

In [ ]:
# your code here
chicago_taxi_helper.head(table_name)

In [ ]:
q_2.solution()

# 3) Determine when this data is from

If the data is sufficiently old, we might be careful before assuming the data is still relevant to traffic patterns today. Write a query that counts the number of trips in each year.  

Your results should have two columns
1. The year of the trips, which is called `year`
2. The number of trips in that year, called `num_trips`.

Hints:
- When using `GROUP BY` and `ORDER BY`, you should refer to the columns by the alias `year` that you set at the top of the **SELECT** query.
- The sql code to select the Year from `trip_start_timestamp` is <code>SELECT **EXTRACT(YEAR FROM trip_start_timestamp)**</code>.
- The FROM field can be a little tricky until you are used to it.  The format is
    1. A backick (the symbol \`)
    2. The project name. You can find this in the line where we created the BigQueryHelper object. In this case it is `bigquery-public-data`
    3. A period
    4. The dataset name. Also in the line where we created the BigQueryHelper object. In this case, it is `chicago_taxi_trips`
    5. A period
    6. The table name, which you already used as your answer in part 1.

In [ ]:
chicago_taxi_helper.estimate_query_size(rides_per_year_query)

In [ ]:
rides_per_year_query = """
SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year,
        COUNT(unique_key) num_trips
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
GROUP BY year
ORDER BY year
"""

rides_per_year_result = chicago_taxi_helper.query_to_pandas_safe(rides_per_year_query, max_gb_scanned=25)

print(rides_per_year_result)
q_3.check()

In [ ]:
# q_3.hint()
# q_3.solution()

# 4) Dive Slightly Deeper

It's odd that 2017 had so few rides. You should wonder whether it was systematic under-reporting throughout the year, or whether some months are missing.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways
1. Use a where clause to limit our query to data from 2017
2. Modify the extract statement to extract the month rather than the year

In [ ]:
rides_per_month_query = """
WITH only_2017 AS
    (
    SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year,
            EXTRACT(MONTH FROM trip_start_timestamp) AS month,
            *
    FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    )
SELECT month, COUNT(unique_key) num_trips
FROM only_2017
WHERE year = 2017
GROUP BY month
ORDER BY month
"""

In [ ]:
chicago_taxi_helper.estimate_query_size(rides_per_month_query)

In [ ]:
rides_per_month_result = chicago_taxi_helper.query_to_pandas_safe(rides_per_month_query, max_gb_scanned=25)

print(rides_per_month_result)
q_4.check()

In [ ]:
#q_4.hint()
#q_4.solution()

# 5) Write the Query

Let's step up the sophistication of your queries.

Write a query
- A column called `hour_of_day` and sort by this, which holds the result of extracting the hour from `trip_start_timestamp`.
- The count of total number of trips in each hour of the day (e.g. how many trips occurred between 6AM and 7AM, independent of which day it occurred on). Call this `num_trips`
- The average speed, measured in miles per hour, for trips that started in that hour of the day.  Average speed in miles per hour is calculated as `3600 * SUM(trip_miles) / SUM(trip_seconds)`. Call this column `avg_mph`. The value 3600 is used to convert from seconds to hours.

For 2017, we're missing August and everything after. So restrict your query to data meeting the following criteria
- a `trip_start_timestamp` between **2017-01-01** and **2017-07-01**
- `trip_seconds` > 0 and `trip_miles` > 0


You will use a CTE to select just the relevant rides.  Because this dataset is very big, this CTE should select only the columns you'll need to create the final output (though you won't actually create those in the CTE. Instead you'll create those in the later `SELECT` statement).

This is a much harder query than anything you've written so far.  Good luck!

In [ ]:
speeds_query = """
WITH RelevantRides AS
(SELECT unique_key, trip_start_timestamp, trip_miles, trip_seconds,
        EXTRACT(DATE FROM trip_start_timestamp) AS date_only
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
WHERE trip_seconds > 0 and trip_miles > 0
)

SELECT EXTRACT(HOUR FROM trip_start_timestamp) AS hour_of_day,
        COUNT(unique_key) AS num_trips,
        3600 * SUM(trip_miles) / SUM(trip_seconds) AS avg_mph
FROM RelevantRides
WHERE date_only BETWEEN '2017-01-01' AND '2017-06-30'
GROUP BY hour_of_day
ORDER BY hour_of_day
"""

# Set high max_gb_scanned because this query looks at more data
speeds_result = chicago_taxi_helper.query_to_pandas_safe(speeds_query, max_gb_scanned=20)

print(speeds_result)
q_5.check()

In [ ]:
# q_5.hint()
# q_5.solution()

That's a hard query. If you made good progress towards the solution, congratulations!

# 6. Ponder the Results
Something is wrong with either the raw data or our last query. What fact about the raw data doesn't seem right?

If you can identify the problem, how would you look at the raw data to verify that the problem is in the raw data and not just in your results? Check your answer below.

In [ ]:
q_6.solution()

# Keep Going

You can write very complex queries now with a single data source. But nothing expands the horizons of SQL as much as the ability to combine or **JOIN** tables.

**[Click here](https://www.kaggle.com/dansbecker/joining-data)** to start the last lesson in SQL course.

---
**[SQL Micro-Course Home Page](https://www.kaggle.com/learn/SQL)**